<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/indexStyle.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <title>Calabozo del Androide</title>
</head>

<body>
    <header>
        <img src="./images/logo.png" width="20%" class="logo">

        <nav>
            <nav class="categorias" alt="Categorias">
                <ul>
                    <li><a href="#">Nombre</a></li>
                    <li><a href="#">Nombre</a></li>
                    <li><a href="#">Nombre</a></li>
                    <li><a href="#">Nombre</a></li>
                    <li><a href="#">Nombre</a></li>
                </ul>
            </nav>
            <nav class="navbar">

                <input type="search" name="busquedaProd" placeholder="Buscar productos, marcas: ">

                <button type="submit"><i class="fa fa-search"></i></button>

            </nav>

            <nav class="siteLogin">
                <ul>
                    <li><a href="/login">
                            <i class="fas fa-user"></i>
                        </a></li>
                    <li><a href="/carrito">
                            <i class="fas fa-shopping-cart"></i>
                        </a></li>
                </ul>
            </nav>

        </nav>
        <br>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        <br>
    </header>

    <main>
        <article>
            <img src="#" width="100%" class="product_img">
            <div>
                <div>
                    <p class="precio">$$$$</p>
                    <p>Nombre Producto</p>
                </div>
        </article>

        <article>
            <img src="#" width="100%" class="product_img">
            <div>
                <div>
                    <p class="precio">$$$$</p>
                    <p>Nombre Producto</p>
                </div>
        </article>

        <article>
            <img src="#" width="100%" class="product_img">
            <div>
                <div>
                    <p class="precio">$$$$</p>
                    <p>Nombre Producto</p>
                </div>
        </article>

        <article>
            <img src="#" width="100%" class="product_img">
            <div>
                <div>
                    <p class="precio">$$$$</p>
                    <p>Nombre Producto</p>
                </div>
        </article>

        <footer>
            <section>
                <article>
                    <p>Para Mas informacion
                        //contacto
                    </p>
                </article>
            </section>
            <br>
            <section>
                <article>
                    <h5>Copyright © 1999-2021 </h5>
                </article>
            </section>
        </footer>

    </main>



</body>

</html>