<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/indexStyle.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <title>Calabozo del Androide</title>
</head>

<body>
    <header>
        
        <div class="main-header-top-bar">
            <img src="./images/logo.png" width="20%" class="logo">    
            <nav class="navbar">

                <input type="search" name="busquedaProd" placeholder="Buscar productos, marcas: ">

                <button type="submit"><i class="fa fa-search"></i></button>

                <nav class="main-navbar">
                    <ul class="left-navbar">
                        <li><a href="#">Animes</a></li>
                        <li><a href="#">Cines</a></li>
                        <li><a href="#">Videojuegos</a></li>
                    </ul>
                    </nav>

        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
   

            <ul class="right-navbar">
                <li><a href="/register"> <i class="fas fa-credit-card"></i></a></li>
                <li><a href="/login"> <i class="fas fa-user"></i></a></li>
                <li><a href="#"> <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        

        </header>


    <main>
        <article>
            <img src="#" width="100%" class="product_img">
            <div>
                <div>
                    <p class="precio">$$$$</p>
                    <p>Nombre Producto</p>
                </div>
        </article>

        <article>
            <img src="#" width="100%" class="product_img">
            <div>
                <div>
                    <p class="precio">$$$$</p>
                    <p>Nombre Producto</p>
                </div>
        </article>

        <article>
            <img src="#" width="100%" class="product_img">
            <div>
                <div>
                    <p class="precio">$$$$</p>
                    <p>Nombre Producto</p>
                </div>
        </article>

        <article>
            <img src="#" width="100%" class="product_img">
            <div>
                <div>
                    <p class="precio">$$$$</p>
                    <p>Nombre Producto</p>
                </div>
        </article>

        <footer>
            <hr class="solid">
            <section class="contactos">
                <article>
                    <p class="footer-mas-info">Para Mas informacion contactarnos:</p> <br>
                    <p>calabozo@gmail.com</p> <br>
                    <p>11-4895-2024</p> <br>
                    <p>Calle falsa 123</p>
                </article>
            </section>
            <hr class="solid">
            <section class="copyright">
                <article>
                    <h5>Copyright © 1999-2021 </h5>
                </article>
            </section>
        </footer>

    </main>



</body>

</html>